langchain==1.0.2
openai==2.6.0
psycopg2-binary==2.9.11
sqlalchemy==2.0.44
pgvector==0.4.1
sentence-transformers==5.1.2
fastapi==0.119.1
uvicorn==0.38.0
googletrans==4.0.2
langchain-community==0.4
langchain-core==1.0.0
langchain-text-splitters==1.0.0
